/* =================================================== */
			    /* Manager Interface */
/* =================================================== */

.schedule-construct-right-panel{
	width: calc(2*(13.91369vw - 3px));
	height: 100%;
	position: fixed;
	z-index: 999;
	right: 0;
	border-left: 1px solid rgba(0,0,0,.3);
	overflow: auto;
	background: #fff;
	transition: .3s;
	display: none;
}
.schedule-construct-right-panel::-webkit-scrollbar {
	width: 0;
}
.schedule-construct-right-panel-block{
	width: calc(100% - 3em);
	padding: 1em 1.5em;
	color:rgba(0,0,0,.8);
}
.schedule-construct-group-name{
	width: 100%;
	padding: 1em 0;
	text-align: center;
}
.schedule-construct-group-name h2{
	position: relative;
	padding-bottom: 0.5em;
}
.schedule-construct-group-name h2::after{
	content: '';
	position: absolute;
	width: 4.25em;
	height: 5px;
	background: #557daa;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
}
.schedule-table-row-attr{
	cursor: pointer;
	transition: .2s;
}
.schedule-table-row-attr:empty::before{
	content: '+';
	width: 2.2em;
	height: 2.2em;
	font-size: .8em;
	background: #557daa;
	color: #fff;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s;
}
.schedule-table-row-attr:empty:hover{
	background: rgba(0,0,0,.2);
}
.schedule-table-row-attr:empty:hover::before{
	opacity: 1;
}
.schedule-construct-group-academic-programs{
	padding: 1em 0;
}
.schedule-construct-group-academic-programs h3{
	padding-bottom: 0.5em;
}
.group-academic-program{
	padding: 0.2em 0;
}
.group-academic-program-hour{
	color: #557daa;
	font-weight: bold;
}
.schedule-construct-group-academic-programs-btn-block{
	width: 100%;
}
.schedule-construct-group-academic-programs-btn,
.schedule-construct-waybill-btn{
	margin: 1em auto;
	padding: 0.7em;
	background: #557daa;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
}
.schedule-construct-group-academic-programs-btn i,
.schedule-construct-waybill-btn i{
	font-size: 1.2em;
	padding-right: 1em;
}
.schedule-construct-group-academic-programs-btn p,
.schedule-construct-waybill-btn p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.schedule-construct-group-academic-programs-btn:hover,
.schedule-construct-waybill-btn:hover{
	background: #446488;
}
.schedule-construct-group-restrictions{
	padding: 1em 0;
}
.schedule-construct-group-restrictions h3{
	padding-bottom: 0.5em;
}
.schedule-construct-group-requirement-block{
	padding: 0.2em 0;
}
.group-restriction{
	color: #bf3f27;
	font-weight: bold;
}
.schedule-construct-left-panel{
	width: calc((100% - (2*(13.91369vw - 3px))) + 3px);
	height: 100%;
	position: fixed;
	z-index: 1001;
	left: -100%;
	border-right: 1px solid rgba(0,0,0,.3);
	overflow: auto;
	background: #fff;
	transition: .3s;
	display: none;
}
.schedule-construct-left-panel::-webkit-scrollbar {
	width: 5px;
}
.schedule-construct-left-panel-block{
	width: calc(100% - 3em);
	padding: 1em 1.5em;
	color:rgba(0,0,0,.8);
}
.schedule-construct-panel-title{
	width: 100%;
	padding: 1em 0;
	text-align: center;
}
.schedule-construct-faculties{
	width: 100%;
}
.schedule-construct-faculty-block{
	width: 100%;
	padding: 1em 0;
}
.schedule-construct-faculty-name{
	padding: 0.5.em 0;
}
.schedule-construct-faculty-academic-programs-block{
	width: 100%;
}
.schedule-construct-faculty-academic-programs-wrap{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 1.5em 0;
}
.schedule-construct-faculty-term-block{
	width: calc((100% / 3) - 3em);
	margin-right: 1.5em;
}
.schedule-construct-faculty-term-block:nth-child(3n){
	margin-right: 0;
}
.scheudle-faculty-term{
	font-weight: bold;
	color: #557daa;
	padding-bottom: 1em;
}
.schedule-construct-faculty-academic-programs-list{
	width: 100%;
}
.schedule-construct-faculty-academic-program-cell{
	display: flex;
	justify-content: center;
	align-items: center;
}
.schedule-construct-faculty-academic-program{
	width: calc(80% - 1.6em);
	padding: 0.4em 0.8em;
	border: 1px solid rgba(0,0,0,.3);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.schedule-construct-faculty-academic-program-credits{
	width: calc(20% - 1.6em);
	padding: 0.4em 0.8em;
	border: 1px solid rgba(0,0,0,.3);
}
.schedule-construct-insert-lesson{
	width: calc((100% - (2*(13.91369vw - 3px))) + 3px);
	height: 100%;
	position: fixed;
	z-index: 999;
	left: -100%;
	overflow: auto;
	background: transparent;
	transition: .3s;
}
.schedule-construct-insert-lesson-background{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	background: rgba(0,0,0,.3);
}
.schedule-construct-insert-lesson-title{
	text-align: center;
}
.schedule-construct-insert-lesson-title h1{
	position: relative;
	padding-bottom: 0.5em;
}
.schedule-construct-insert-lesson-title h2{
	padding-top: 0.7em;
	padding-bottom: 0.3em;
	color: #557daa;
}
.schedule-construct-insert-lesson-title h1::after{
	content: '';
	position: absolute;
	width: 4.25em;
	height: 5px;
	background: #557daa;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0);
}
.schedule-construct-insert-lesson-outer-block{
	width: 45%;
	height: 80vh;
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	border: 1px solid rgba(0,0,0,.6);
	overflow: auto;
}
.schedule-construct-insert-lesson-outer-block::-webkit-scrollbar{
	width: 0px;
}
.schedule-construct-insert-lesson-block{
	padding: 2em;
	color: rgb(0,0,0,.8);
}
.schedule-construct-insert-lesson-data-block{
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 3px;
	padding: 1em;
	margin: 1em 0;
	transition: .3s;
}
.schedule-construct-insert-lesson-data-block p{
	transition: .3s;
}
.schedule-construct-insert-lesson-data-block input{
	transition: .3s;
}
.schedule-construct-insert-lesson-data-block:nth-child(5){
	border: none;
	padding: 0 1em;
}
.schedule-construct-insert-lesson-data-block:nth-child(5) .schedule-construct-insert-lesson-select-box{
	padding: none;
}
.schedule-construct-insert-lesson-data-block:nth-child(5) p{
	padding-bottom: 0.5em;
}
.schedule-construct-insert-lesson-data-block span{
	padding: 0.5em 0;
}
.schedule-construct-insert-lesson-input-box{
	width: 100%;
	padding: 0.5em 0;
	position: relative;
	font-size: 1em;
}
.schedule-construct-insert-lesson-select-box{
	width: 100%;
	padding: 0.5em 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.schedule-construct-insert-lesson-select-box-option{
	border: 2px solid #fff;
	border-radius: 3px;
    padding: 0.7em 1.5em;
    margin-right: 2em;
	text-align: center;
	transition: .3s;
	cursor: pointer;
}
.schedule-construct-insert-lesson-select-box-option i{
	font-size: 2.8em;
}
.schedule-construct-insert-lesson-select-box-option:hover{
	color: #577daa;
}
.schedule-construct-insert-lesson-select-box-option-selected{
	color: #577daa;
}
.schedule-construct-insert-lesson-search-block-icon{
	position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    font-size: 1em;
    color: rgba(0,0,0,.6);
}
.search-result-block-icon{
	position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);
    font-size: 1em;
    color: #67a030;
}
.search-result-block-icon-wrong{
	position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);
    font-size: 1em;
    color: #bf3f27;
}
.search-insert-lesson-success{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #67a030;
	font-size: 12em;
}
.search-subject-field,
.search-teacher-field,
.search-room-field{
	width: 100%;
    padding: 8px 20px;
    padding-left: calc(1em + 24px);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 3px;
    outline: none;
    transition: .2s;
    font-size: 14px;
    color: #557daa;
}
.search-subject-field:focus,
.search-teacher-field:focus,
.search-room-field:focus{
	border-bottom: none;
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
}
.search-subject-result,
.search-teacher-result,
.search-room-result{
	width: 100%;
	position: absolute;
	z-index: 1000;
}
.search-subject-result div,
.search-teacher-result div,
.search-room-result div{
	border-left: 1px solid #557daa;
	border-right: 1px solid #557daa;
	background: #fff;
	color: rgba(0,0,0,.6);
	font-size: 14px;
	padding: 7px 0;
	padding-left: ;
	transition: .3s ease;
	cursor: pointer;
}
.search-subject-result div:hover,
.search-teacher-result div:hover,
.search-room-result div:hover{
	background: #bcbfc2;
}
.search-subject-result div:last-child,
.search-teacher-result div:last-child,
.search-room-result div:last-child{
	border-radius: 3px;
	border: 1px solid #577daa;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.search-subject-result span,
.search-teacher-result span,
.search-room-result span{
	width: 14px;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
}
.search-subject-result p,
.search-teacher-result p,
.search-room-result p{
	display: inline-block;
}
.schedule-construct-insert-lesson-btn{
	width: 7em;
    padding: 0.7em;
    background: #557daa;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.schedule-construct-insert-lesson-btn-inactive{
	background: #cccccc;
}
.schedule-construct-insert-lesson-btn:hover{
	background: #446488;
}
.schedule-construct-insert-lesson-btn-inactive:hover{
	background: #cccccc;
}
.search-waybill-result{
	width: 295px;
	position: absolute;
	z-index: 555;
}
.search-waybill-result div{
	border-left: 1px solid rgba(0,0,0,.3);
	border-right: 1px solid rgba(0,0,0,.3);
	background: #fff;
	color: rgba(0,0,0,.6);
	font-size: 14px;
	padding: 7px 0;
	padding-left: ;
	transition: .3s ease;
	cursor: pointer;
}
.search-waybill-result div:hover{
	background: #bcbfc2;
}
.search-waybill-result div:last-child{
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.3);
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.search-waybill-result span{
	width: 14px;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
}
.search-waybill-result p{
	display: inline-block;
}

.fa-pencil-ruler{
    font-size: 1.2em;
	padding-right: 1em;
}

.fa-pencil-ruler:hover{
    font-size: 1.2em;
	padding-right: 1em;
    color: #6c9cd6;
}

.fa-trash-alt{
    font-size: 1.2em;
	padding-right: 1em;
}

.fa-trash-alt:hover{
    font-size: 1.2em;
	padding-right: 1em;
    color: #6c9cd6;
}

.form-create-schedule{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

{
  box-sizing: border-box;
}

input[type=text].form-control, input[type=datetime-local], input[type=submit] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #557daa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #4374ac;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#schedule {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#schedule td, #schedule th {
  border: 1px solid #ddd;
  padding: 8px;
}

#schedule tr:nth-child(even){background-color: #f2f2f2;}

#schedule tr:hover {background-color: rgba(85, 125, 170, 0.13);}

#schedule th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #557daa;
  color: white;
}

.schedule-table-dashboard{
  margin: auto;
  width: 97.5%;
  padding: 10px;
}

.schedule-dashboard-select{
	width: 100%;
	padding: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.schedule-dashboard-select-block{
	width: 100%;
}
.schedule-dashboard-select-section-wrap{
	width: 100%;
	padding: 1em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.schedule-dashboard-select-section{
	width: 25vw;
	height: 13.75vw;
	margin: 0 1em;
	position: relative;
	cursor: pointer;
}
.schedule-dashboard-select-section-background{
	position: absolute;
	width: inherit;
	height: inherit;
	background-image: url(../img/eduprogram.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.14;
}
.schedule-dashboard-select-section-content{
	width: inherit;
	height: inherit;
	background: #557daa;
	color: #fff;
	text-align: center;
	transition: .3s;
	border: 2px solid transparent;
	font-weight: bold;
}
.schedule-dashboard-select-section:hover .schedule-dashboard-select-section-content{
	background: #f2f2f2;
	color: #557daa;
	border: 2px solid #557daa;
	font-size: 1.2em;
}
.schedule-dashboard-select-section:hover .schedule-dashboard-select-section-content-data i{
	font-size: 2em;
}
.schedule-dashboard-select-section-content-data{
	font-size: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.schedule-dashboard-select-section-content-data i{
	padding-bottom: 0.7em;
	font-size: 1.8em;
}

.button-back {
    display: block;
    width: 10%;
    height: 25px;
    background: rgb(33, 83, 139);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

@media screen and (max-width: 1700px) {
	.schedule-construct-right-panel{
		width: calc(2*(13.91369vw - 5px));
	}
}

@media screen and (max-width: 1500px) {
	.schedule-construct-right-panel{
		width: calc(2*(13.91369vw - 5px));
	}
}

@media screen and (max-width: 1000px) {
	.schedule-construct-right-panel{
		width: calc(2*(13.91369vw - 8px));
	}
}