* {
	margin: 0;
}

.preloader_logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.095);
	z-index: 10000;
}

.preloader {
	--bg-color: #557daa;
	--size: 200px;
	--first-color: #fff;
	--second-color: #fff;
	--third-color: #fff;
	--thickness: 3px;
	--duration: 1s;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--duration);
	z-index: 9999;
}

.preloaderContent{
	position: relative;
	width: var(--size);
	height: var(--size);
}

.preloaderFirst,
.preloaderSecond,
.preloaderThird {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	animation: var(--duration) linear infinite;
}

.preloaderFirst{
	border-bottom: var(--thickness) solid var(--first-color);
	animation-name: first;
}

.preloaderSecond{
	border-right: var(--thickness) solid var(--second-color);
	animation-name: second;
}

.preloaderThird{
	border-top: var(--thickness) solid var(--third-color);
	animation-name: third;
}

@keyframes first {
	0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
	100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}

@keyframes second {
	0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
	100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}

@keyframes third {
	0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
	100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}