*{
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.schedule-interface{
	width: 100%;
}
.schedule-top-block{
	width: 100%;
	background-color: #f2f2f2;
}
.schedule-lang{
	width: 100%;
}
.schedule-lang-block{
	margin: 1em;
	display: inline-block;
	text-align: center;
	transition: .3s;
	cursor: pointer;
}
.schedule-lang-block:first-child{
	margin-left: calc(1em + 20px);
}
.lang{
	display: none;
}
.schedule-nav{
	width: 100%;
}
.schedule-nav-block{
	padding: 1em;
	font-size: 1em;
	display: inline-block;
	text-align: center;
	color: #557daa;
	border-bottom: 2px solid #f2f2f2;
	transition: .3s;
	cursor: pointer;
}
.schedule-nav-block:first-child{
	margin-left: 20px;
}
.schedule-nav-block:hover{
	border-bottom: 2px solid #557daa;
}
.schedule-nav-block-active{
	border-bottom: 2px solid #557daa;
}
.schedule-bottom-block{
	width: 100%;
	transition: .3s;
}
.schedule-table-search{
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.3);
	background-color: #fff;
}
.schedule-table-search h1{
	text-align: center;
	color: rgba(0,0,0,.6);
}
.schedule-search-block{
	padding: 5px;
	margin-left: 15px;
	padding-right: 0;
	position: relative;
}
.schedule-search-block input{
	width: 295px;
	padding: 8px 20px;
	padding-left: 30px;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 3px;
	outline: none;
	transition: .2s;
	font-size: 14px;
	color: #557daa;
}
.schedule-search-block-icon {
    padding: 0 10px;
    color: rgba(0,0,0,.3);
    position: absolute;
    transition: .2s;
    font-size: 14px;
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
}
.search-result{
	width: 295px;
	position: absolute;
	z-index: 555;
}
.search-result div{
	border-left: 1px solid rgba(0,0,0,.3);
	border-right: 1px solid rgba(0,0,0,.3);
	background: #fff;
	color: rgba(0,0,0,.6);
	font-size: 14px;
	padding: 7px 0;
	padding-left: ;
	transition: .3s ease;
	cursor: pointer;
}
.search-result div:hover{
	background: #bcbfc2;
}
.search-result div:last-child{
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.3);
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.search-result span{
	width: 14px;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
}
.search-result p{
	display: inline-block;
}
.schedule-search-today{
	padding: 5px;
	margin-top: 1em;
	margin-left: 15px;
	padding-right: 0;
	position: relative;
	font-size: 1.3em;
}
.schedule-search-today i{
	padding-right: 0.5em;
}
.schedule-search-today p{
	display: inline-block;
	color: rgba(0,0,0,.6);
	font-weight: bold;
	padding: 0 1em;
}
.schedule-search-today p:first-child{
	cursor: pointer;
	padding-left: 0;
	transition: .3s;
}
.schedule-search-today p:first-child:hover{
	color: #557daa;
}
.schedule-bottom-content{
	position: relative;
}
.aitu_logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.5;
}
.schedule-eduprogram-select{
	width: 100%;
	padding: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.schedule-eduprogram-select-block{
	width: 100%;
}
.schedule-eduprogram-select-section-wrap{
	width: 100%;
	padding: 1em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.schedule-eduprogram-select-section{
	width: 25vw;
	height: 13.75vw;
	margin: 0 1em;
	position: relative;
	cursor: pointer;
}
.schedule-eduprogram-select-section-background{
	position: absolute;
	width: inherit;
	height: inherit;
	background-image: url(../img/eduprogram.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.14;
}
.schedule-eduprogram-select-section-content{
	width: inherit;
	height: inherit;
	background: #557daa;
	color: #fff;
	text-align: center;
	transition: .3s;
	border: 2px solid transparent;
	font-weight: bold;
}
.schedule-eduprogram-select-section:hover .schedule-eduprogram-select-section-content{
	background: #f2f2f2;
	color: #557daa;
	border: 2px solid #557daa;
	font-size: 1.2em;
}
.schedule-eduprogram-select-section:hover .schedule-eduprogram-select-section-content-data i{
	font-size: 2em;
}
.schedule-eduprogram-select-section-content-data{
	font-size: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.schedule-eduprogram-select-section-content-data i{
	padding-bottom: 0.7em;
	font-size: 1.8em;
}
.schedule-table{
	width: 100%;
	font-size: 1em;
}
.schedule-table-row{
	transition: .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.3);
	color: rgba(0,0,0,.6);
}
.schedule-table-row:first-child{
	margin-top: 0;
}
.schedule-table-row-active{
	border-left: 2px solid #557daa;
}
.schedule-table-column{
	width: calc(13.91369vw - 3px);
	text-align: center;
	border-left: 1px solid rgba(0,0,0,.3);
}
.schedule-table-column:first-child{
	width: 50px;
	border-left: 0;
}
.schedule-table-column p:first-child{
	font-size: 1.4em;
	font-weight: bold;
}
.schedule-table-column:last-child{
	border-right: 1px solid rgba(0,0,0,.3);
}
.schedule-table-column-active{
	color: #557daa;
}
.schedule-table-row-attr{
	width: calc(13.91369vw - 3px);
	height: 115px;
	position: relative;
	border-right: 1px solid rgba(0,0,0,.3);
	transition: 1s;
	overflow: hidden;
}
.schedule-table-row-attr-block-active{
	color: #557daa;
}
.schedule-table-row-attr:first-child{
	width: 50px;
	text-align: center;
	border-right: none;
}
.schedule-table-row-attr:first-child p{
	color: rgba(0,0,0,.8);
}
.schedule-table-row-attr:first-child p:first-child{
	margin-top: 1em;
}
.schedule-table-attr-active:first-child p{
	color: #557daa;
}
.schedule-table-row-attr:nth-child(2){
	border-left: 1px solid rgba(0,0,0,.3);
}
.schedule-table-row-attr:last-child{
	border-right: 1px solid rgba(0,0,0,.3);
}
.schedule-table-row-attr-data{
	width: 90%;
	margin: 1em auto;
}
.schedule-table-row-attr-data p{
	white-space: nowrap;
  	width: 100%;
	overflow: hidden;
  	text-overflow: ellipsis;
}
.schedule-table-row-attr-data i{
	width: 1em;
    text-align: center;
	margin-right: 8px;
}
.schedule-table-row-attr-data-subject{
	font-weight: bold;
}
.schedule-table-row-attr-pulse{
	background: rgba(85, 125, 170, 1);
	box-shadow: 0 0 0 0 rgba(85, 125, 170, 1);
	color: rgba(255, 255, 255, 1);
	animation: pulse 2s 2;
}
@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(85, 125, 170, 0.7);
	}

	70% {
		transform: scale(1.05);
		box-shadow: 0 0 0 10px rgba(85, 125, 170, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(85, 125, 170, 0);
	}
}

@media screen and (max-width: 1700px) {
  	.schedule-table-column{
		width: calc(13.91369vw - 5px);
		text-align: center;
		border-left: 1px solid rgba(0,0,0,.3);
	}
	.schedule-table-row-attr{
		width: calc(13.91369vw - 5px);
		position: relative;
		border-right: 1px solid rgba(0,0,0,.3);
	}
}

@media screen and (max-width: 1500px) {
  	.schedule-table-column{
		width: calc(13.91369vw - 5px);
		text-align: center;
		border-left: 1px solid rgba(0,0,0,.3);
	}
	.schedule-table-row-attr{
		width: calc(13.91369vw - 5px);
		position: relative;
		border-right: 1px solid rgba(0,0,0,.3);
	}
}

@media screen and (max-width: 1000px) {
  	.schedule-table-column{
		width: calc(13.91369vw - 8px);
		text-align: center;
		border-left: 1px solid rgba(0,0,0,.3);
	}
	.schedule-table-row-attr{
		width: calc(13.91369vw - 8px);
		position: relative;
		border-right: 1px solid rgba(0,0,0,.3);
	}
}